<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile_project">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:windowSoftInputMode="stateHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainMenuActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.TopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" />

        <activity
            android:name=".View.AnimeDescActivity"
            android:screenOrientation="portrait"
            android:label="Mobile_Project" />

        <activity
            android:name=".View.SchedActivity"
            android:screenOrientation="portrait"
            android:label="Mobile_Project" />

        <activity
            android:name=".View.SearchActivity"
            android:screenOrientation="portrait"
            android:label="Mobile_Project" />

        <activity
            android:name=".View.SeasonActivity"
            android:screenOrientation="portrait"
            android:label="Mobile_Project" />

        <activity
            android:name=".View.UpcomingActivity"
            android:screenOrientation="portrait"
            android:label="Mobile_Project" />

        <activity
            android:name=".View.ToWatchActivity"
            android:screenOrientation="portrait"
            android:label="Mobile_Project" />
    </application>

</manifest>